* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgba(73, 204, 117, 0.541);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.title {
    text-transform: uppercase;
}

.subtitle {
    padding-top: 10px;
}

img {
    width: 100px;
}

.memory-game {
    margin: 10px;
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(36, 231, 101, 0.671);
    perspective: 1000px;
}

.memory-card {
    width: 23%;
    /* width: calc(23% - 10px); */
    /* height: calc(33.333% - 10px); */
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front,
.back {
    /* border: 2px solid green; */
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgb(22, 80, 51);
    border-radius: 5px;
    /* Safari */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
    background-color: rgba(12, 80, 46, 0.541);
}

.footer {
    /* margin: 10px 0 5px 0; */
    font-size: 8px;
}